mixin billing(title, amount)
   section(style="width: 100%;").space-x-3.w-full.flex.justify-end
      span(style="--tw-text-opacity: 1;color: rgba(55, 65, 81, var(--tw-text-opacity));display:inline-block;width:calc(100% - 4rem);text-align:right;").text-gray-700.justify-end.inline-flex.flex-1 #{title}
      span(style="float:right;width: 4rem;text-align:right;").inline-flex.w-16.justify-end #{amount}

html
   head
      title Order No.: #{id}
      meta(name="viewport" content="width=device-width, initial-scale=1.0")
   body(style='--tw-bg-opacity: 1;background-color: rgba(209, 213, 219, var(--tw-bg-opacity));padding: 0.10rem 0;').bg-gray-300.py-3
      div(style='--tw-bg-opacity: 1;background-color: rgba(255, 255, 255, var(--tw-bg-opacity));border-radius: 0.25rem;margin:0 auto;padding: 1rem;' class="sm:w-11/12 lg:w-8/12 xl:w-6/12").rounded.mx-auto.p-4.bg-white
         header(style='width: 100%;border-bottom: 1px solid #e5e7eb;padding:0.75rem 0;').w-full.flex.flex-col.items-center.py-3.border-b
            if restaurant.brand.logo
               img(src=restaurant.brand.logo alt=restaurant.brand.name style="width: 64px;")
               h2(style="margin-top: 0.5rem;").mt-2 #{restaurant.brand.name}
            else
               h2 #{restaurant.brand.name}
         main(style="padding:0.75rem 0;").py-3.space-y-3
            p(style="--tw-text-opacity: 1;color: rgba(55, 65, 81, var(--tw-text-opacity));").text-gray-700 We regret to inform you that the following order could not be fulfilled and thus has been cancelled. Your refund is initiated for any payment deducted for this order. Please reach out at #{restaurant.contact.phoneNo} or #{restaurant.contact.email} for any further questions
            section.flex.space-x-4
               h3 Order No: #{id}
               h3 Restaurant: #{restaurant.brand.name}
            section
               p(style="--tw-text-opacity: 1;color: rgba(55, 65, 81, var(--tw-text-opacity));").text-gray-700 Here are your order details:
               div(style="margin-top: 0.5rem;").mt-2
                  h3(style="--tw-text-opacity: 1;color: rgba(55, 65, 81, var(--tw-text-opacity));").text-gray-700 Order Status:
                  h4(style="color: #EF4444;font-weight: 700;font-weight: 700;").font-bold.text-green-700 CANCELLED
               div(style="margin-top: 0.5rem;").mt-2
                  h3(style="--tw-text-opacity: 1;color: rgba(4, 120, 87, var(--tw-text-opacity));").text-gray-700 Ordered From:
                  h4(style="font-weight: 700;").font-bold #{restaurant.brand.name}
                  p #{restaurant.address}
               if isPickup
                  div(style="margin-top: 0.5rem;").mt-2
                     h3(style="--tw-text-opacity: 1;color: rgba(55, 65, 81, var(--tw-text-opacity));").text-gray-700 Delivery To:
                     p #{customer.address || 'N/A'}
            table(style="width: 100%;").w-full
               thead(style="height: 2rem;border-bottom: 1px solid #e5e7eb;")
                  tr
                     th(style="--tw-text-opacity: 1;color: rgba(107, 114, 128, var(--tw-text-opacity));text-align: left;").text-gray-500.text-left Item Name
                     th(style="--tw-text-opacity: 1;color: rgba(107, 114, 128, var(--tw-text-opacity));text-align: right;").text-gray-500.text-right Price
               tbody
                  each item in items
                     tr(style="height: 1.75rem;border-bottom: 1px solid #e5e7eb;").h-8.border-b
                        td #{item.title}
                        td(style="text-align: right;").text-right #{item.price}
            section(style="width: 100%;").w-full
               +billing("Item Total:", itemTotal)
               +billing("Delivery Price:", deliveryPrice)
               +billing("Tax:", tax)
               +billing("Discount:", discount)
               +billing("Amount Paid:", amountPaid)