html
   head
      title Order No.: #{id}
      meta(name="viewport" content="width=device-width, initial-scale=1.0")
      link(href='https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css' rel="stylesheet")
   body
      div.flex.flex-col.items-center.p-2
         h3.font-medium Order#: #{id}
         h1.font-medium.text-3xl #{restaurant}
         p.text-center  #{orgAddress} - #{orgPhone}
         table.mt-3.w-full
            thead
               tr
                  th.text-left Items
                  th.text-right Price
            tbody
               each item in items
                  tr
                     td.text-left #{item.title}
                     td.text-right #{item.price}
               tr.border-t
                  td.text-left.font-medium Tax
                  td.text-right #{tax}
               tr
                  td.text-left.font-medium Delivery
                  td.text-right #{deliveryPrice}
               tr
                  td.text-left.font-medium Discount
                  td.text-right -#{discount}
               tr.border-t
                  td.text-left.font-medium Grand Total
                  td.text-right #{amountPaid}
         span.mt-3.font-medium Customer Address:
         p.text-center  #{customerAddress} - #{customerPhone}